

.pieChart .ulColor{
	width: 96%;
	height: .6rem;
	position: absolute;
	top:.5rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	font-size:.14rem;
}
.pieChart .ulColorTwo{
	width: 96%;
	height: .5rem;
	position: absolute;
	top:.3rem;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	font-size:.14rem;
}


.pieChart ul.ulColor li{
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(10, 148, 78);
	margin-left: .7rem;
}
.pieChart ul.ulColorTwo li{
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: rgb(10, 148, 78);
	margin-left: .7rem;
}


.pieChart ul li:nth-child(2){
	color: rgb(181, 178, 26);
}
.pieChart ul li:nth-child(3){
	color: rgb(200, 135, 22);
}
.pieChart ul li:nth-child(4){
	color: rgb(161, 52, 42);
}



.pieChart .pColor{
	width: 0.2rem;
	height: 0.1rem;
	background-color: rgb(10, 148, 78);
}
.pieChart ul li:nth-child(2) .pColor{
	background-color:rgb(181, 178, 26);
}
.pieChart ul li:nth-child(3) .pColor{
	background-color:rgb(200, 135, 22);
}
.pieChart ul li:nth-child(4) .pColor{
	background-color:rgb(161, 52, 42);
}

.pieChart .pColorTwo{
	padding-left: 0.1rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	flex:1;
}
