.safety-production {
  position: relative;
  height: calc(100% - 88px);
}

.safety-production-tab {
  height: 44px;
  line-height: 44px;
  display: flex;
  width: 100%;
  background: rgba(0, 92, 178, .7);
  padding-left: 40px;
  box-sizing: border-box;
}

.safety-production-tab li {
  width: 152px;
  color: #f1f7ff;
  text-align: center;
  font-size: 16px;
  box-sizing: border-box;
  cursor: pointer;
  /*margin-right: 5px;*/
}

.safety-production-tab li.active {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to bottom, rgba(0, 174, 239, .8), rgba(0, 174, 239, .1)) 1;
  border-bottom: none;
  background: #0a3b9a;
  color: #fcc400;
}

